:root {
    --mdc-theme-primary: #1976d2;
    --mdc-theme-secondary: #d32f2f;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    font-family: sans-serif;
    user-select:none;
    touch-action: manipulation;
}

@media screen and (orientation: landscape) {
  #info {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 4px !important;
  }

  #image { 
    height: 100vh;
    width: 100vh
  }

  #camera-buttons {
    position: absolute;
    right: 30px;
    flex-direction: column-reverse;
  }

  #camera-buttons > div {
    width: initial !important;
  }

  #progressbar {
    bottom: 0;
  }
}

@media screen and (orientation: portrait) {
  #image { 
    height: 100vw;
    width: 100vw;
  }

    #other-container {
        width: 100%;
        height: calc(100vh - 116vw);
        overflow: scroll;
    }
}

#image video, canvas {
    width: inherit;
    height: inherit;
}

#info {
    background-color: black;
    padding: 10px; 
    text-align: center;
}

#info #start {
    opacity: 1;
    display: initial;
}

#info p {
    color: white;
    font-family: sans-serif;
    opacity: 0;
    display: none;
    transition: opacity 1s;
}


#canvas {
    position: sticky;
    bottom: 100vw;
    background-color: white;
    opacity: 0;
}

#image-capture-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    top: 0;
    position: absolute;
}

#response {
    position: sticky;
    width: inherit;
    height: inherit;
    bottom: 100vw;
}

#camera-buttons {
    display: flex;
    height: 100%;
}

#camera-buttons button {
    display: flex;
    margin: auto;
    transition: opacity 500ms;
}

#camera-buttons > div {
    width: 33%;
    margin: auto;
}

#flip-button, #back-button {
    color: white;
}

#back-button {
    opacity: 0;
}

#capture-button {
    width: 100px;
    height: 100px;
}

#capture-button span {
    font-size: 48px;
}

#progressbar-container {
    height: 31px;
    width: 100%;
}

#progressbar {
    display: none;
    position: absolute;
}

.object {
    position: absolute;
    border: solid 3px white;
    border-radius: 5px;
    box-shadow: 0 0 0 3px black;
    background-color: rgba(255,255,255,0.2);
}

.object:active {
    background-color: rgba(255,255,255,0.5);
}

.object p {
    margin: -3px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    width: fit-content;
}

.object span {
    color: gray;
}

#other {
    position: absolute;
    display: flex;
    width: 100% !important;
    height: 100%;
    right: 0;
    background-color: white;
    z-index: 1;
    transform: translateY(100%);
    transition: transform 500ms;
}

#other-container {
    width: 100%;
    overflow: scroll;
}

#other-context {
    width: 100%;
    overflow: scroll;
}

#other.show {
    transform: translateY(0);
}

#other-desc {
    margin-bottom: 8px;
    font-weight: bold;
}

.label {
    margin: 0;
    padding: 8px;
}

.label:active {
    background-color: lightgray;
}

.label span {
    margin-left: 7px;
    color: gray;
}

.word {
    text-transform: capitalize;
}

#definition-placeholder {
    pointer-events: none;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: opacity 300ms;
    background-color: rgba(0,0,0,.5);
}

#definition-placeholder.show {
    opacity: 1;
    pointer-events: initial;
}

#definition-container {
    position: fixed;
    opacity: 0;
    background-color: white;
    border-radius: 5px;
    transform: scale(.7) translate(-67%, -67%);
    transition: opacity 200ms, transform 200ms;
    box-shadow: 0 3px 23px rgba(0,0,0,0.5);
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    overflow-y: scroll;
}

.show  #definition-container {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
}

#close-button {
    position: absolute;
    right: 0;
    margin: 10px;
}

#definition p, #definition h2 {
    margin-left: 20px;
    margin-right: 20px;
}

.example {
    font-style: italic;
    color: gray;
}

#progressbar-container-definition {
    display: none;
}

.loading #progressbar-container-definition{
    display: initial;
}